@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
html,
body {
  background-color: $primary ;
  padding: 0;
  margin: 0;
  font-family: "Madimi One", sans-serif;
  font-optical-sizing: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  text-transform: capitalize !important;
}


.navbar__color{
  background-color: $secondary;
  padding: 20px;
  border-radius: 0 0px 32px 32px;
  margin-bottom: 30px;
}

.color__nav{
  color: $primary !important;
  margin-right: 15px;
  transition: 0.3s;
}

.color__nav:hover{
  margin-right: 15px;
  color: $third!important;
}

.card-page{
  width: 100%;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 600px;
  height: 360px;
  background-color: $secondary;
  border-radius: 32px;
  color: $primary;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-card{
  width: 90% !important;
  height: 50px !important;
  border-radius: 18px;
}

.btn-primary{
  background-color: $third !important;
  border: 2px solid $third;
  width: 90% !important;
  font-size: 25px;
  border-radius: 18px;
  transition: 0.3s;

}

.btn-primary:hover, .btn-primary:focus {
  background-color: $secondary !important;
  color: $third !important;
  border: 2px solid $third !important;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-input-affix-wrapper >input.ant-input{
  padding: 10px !important;
}

.ant-tabs-tab-btn{
  font-weight: 600;
  font-size: 16px !important;
}

.text-home{
  height: 85vh;

}

.img-landing{
  background-position: center center ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  overflow: hidden;
}

.text-header{
  font-size: 42px;
  color: $secondary;
  font-weight: 500;
}

.text-body{
  font-size: 18px;
  color: $secondary !important;
  font-weight: 600;
  font-family: "Nunito", sans-serif !important;
}

.btn-primary-back{
  background-color: $secondary !important;
  border: 2px solid $secondary;
  width:100% !important;
  font-size: 25px;
  font-family: 600;
  border-radius: 18px;
  color: $primary;
  transition: 0.3s;
}

.btn-primary-back:hover, .btn-primary-back:focus {
  background-color: $primary !important;
  color: $secondary !important;
  border: 2px solid $secondary !important;
}

